<h1>All Goals for <%= @user.username %></h1>

<%= user_page = (@user == current_user) %>

<h3>Public Goals</h3>
<% public_goals = @user.goals.where(private?: false) %>
<% public_goals.each do |goal| %>
  <%= link_to "#{goal.title}", goal_url(goal) %><br>
  <%= goal.description %><br>
  Goal completed: <%= goal.complete? %><br><br>
<% end %>

<% if user_page %>
  <h3>Private Goals</h3>
  <% private_goals = @user.goals.where(private?: true) %>
  <% private_goals.each do |goal| %>
    <%= link_to "#{goal.title}", goal_url(goal) %><br>
    <%= goal.description %><br>
    Goal completed: <%= goal.complete? %><br><br>
  <% end %>
  <br><br>
<% end %>

<% if user_page %>
  <%= link_to "New Goal", new_goal_url %>
<% end %>
