<h2>Edit Goal</h2>

<form action="<%= goal_url(@goal) %>" method="post">
  <%= authenticity_token_input %>

  <input type="hidden" name="_method" value="patch">

  <label>Title
    <input type="text" name="goal[title]" value="<%= @goal.title %>">
  </label>

  <label>Description
    <textarea name="goal[description]" rows="8" cols="40"><%= @goal.description %></textarea>
  </label>

  <input type="hidden" name="goal[private?]" value="f">

  <label>Private?
    <input type="checkbox"
           name="goal[private?]"
           id="private_checkbox"
           <%= "checked" if @goal.private? %>
           value="t">
  </label>
  <br>
  <label>Complete?
    <input type="checkbox"
           name="goal[complete?]"
           id="complete_checkbox"
           <%= "checked" if @goal.complete? %>
           value="t">
  </label>
  
  <button>Update Goal</button>

</form>

<%= button_to "Delete this goal.", goal_url(@goal), method: :delete %>
